{% raw %}{% extends "rest_framework/base.html" %}
{% load staticfiles %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="https://bootswatch.com/3/paper/bootstrap.min.css" type="text/css">
{% endblock %}

{% block title %}{{cookiecutter.project_name}}{% endblock %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='/'>{{cookiecutter.project_name}}</a>
{% endblock %}

{% block breadcrumbs %}
  {# Overwrite breadcrumbs block to remove it #}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('.request-info').append("<pre class=\"prettyprint\"><b><span class=\"typ\">Version:</span></b><span class=\"pln\"> </span><span class=\"lit\">{{ request.version }}</span></pre>");
        });
    </script>
{% endblock %}{% endraw %}
